<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  <title>Рассчет</title>
</head>

<body>
  <div class="posts">
  {% block content %}
    {% for post in posts %}
      <div class="post">
        <div class="heading">
          <p class="id">{{ post.id }}</p>
          <h3 class="author">{{ post.author }}</h3>
        </div>

        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <div class="marks">
          <button class="graduate like">
            <img class="mark" src="../static/like.png" alt="like">
            <span>{{ post.likes }}</span>
          </button>
          <button class="graduate dislike">
            <img class="mark" src="../static/dislike.png" alt="dislike">
            <span>{{ post.dislikes }}</span>
          </button>
        </div>
      </div>
    {% endfor %}
  {% endblock %}
</div>
</body>

</html>
